.top-panel {
  margin: 1rem 0;
}

.todo-app {
  display:flex;
  flex-direction:column;
  margin-top: 25%;
}

.filter {
  margin-bottom: 10px;
}

@media (max-width: 375px) {
  .filter {
    display:flex;
    justify-content: center;
  }
}